body {
    background-color: rgb(196, 134, 221);
    text-align: center;
    }

    h1 {
    background-color: rgb(60, 73, 192);
    text-align: right;
    }

h2{
    background-color: rgb(108, 76, 224);
    text-align: center;
  }

h3{
    background-color: rgba(166, 219, 116, 0.774);
    text-align: right;
}

p { 
    font-size: 25px; line-height: 3.0; 
}